$font-main: Quicksand, sans-serif;
$font-logo: Alata, sans-serif;
$color-main: #33d9b2;
$color-inactive: #dee0e0;
$font-color-main: #818282;
$font-color-secondary: #fff;
$font-color-headings: #424242;


/* Global */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: $font-main;
    color: $font-color-main;
}


.logo {
    font-family: $font-logo;
    font-size: 24px;
    padding: 20px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

section {
    padding: 96px 0;
}

.section-title {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 60px 0;
    padding: 20px 0 0;
    text-align: center;
    
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 1px;
    transform: translateX(-50%);
    background: $color-main;
}

.section-subtitle {
    margin: 30px 0;
    text-align: center;
}



.wrapper-logo-and-nav {
    display: flex;
    justify-content: space-between;
    
}

h1 {
    font-weight: 400;
    font-size: 36px;
    
}

h2 {
    color:$font-color-headings;   
}

h4 {
    margin: 20px;   
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-main;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    background-color: $color-main;
    background-position: 100% 0;
    background-size: 300%;
}

.btn-one {
    border: 2px solid;
    border-color: $font-color-secondary;
    color: $font-color-secondary;
    background-color: transparent;
}

.btn-two {
   
    
}

/* Navigation */

.wrapper-nav-and-splash {
    color: $font-color-secondary;
    background: url(https://i.postimg.cc/251w8tcc/pexels-tom-mal-k-1661146.jpg);
    height: 100vh;
}
 


.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    
    padding: 20px;
    
}

.navigation a {
    color: $font-color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

input[type="search"] {
    display: none;   
}

/*Splash*/

.splash {
    display: flex;
}

.logo span {
    color: $color-main;
}

.logo 

.logo-wrapper {
    padding: 20px;
}

.splash-inner {
    text-align: center;
    align-items: center;
}

.splash h1 span {
    font-weight: 700;
}


/* About */

.activity-row {
    display: flex;
    justify-content: space-around;
}

.activity-box {
    padding: 30px;
    text-align: center;
}

.activity-text {
    margin-top: 20px;
}

.activity-title, .activity-description {
    padding: 10px 0;
}
    

.about i {
    font-size: 40px;
    background: $color-inactive;
    width: 140px;
    height: 140px;
    line-height: 140px;
    color: $font-color-main;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
}


.about .btn {
    position: relative;
    
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}